.sticksidebar{
    position: sticky;
    top: 0;
    left: 50%;
}
.left{
    width: 50%;
    flex-direction: column;
    padding: 40px 0;
}
.right{
width: 50%;
padding: 48px 0 ;
}
.rightmain{
    padding: 48px 0 48px 40px;
}
.maim{
    flex-direction: row;
}
.leftmain{
    margin-bottom: 12px;
}
.nameborder{
    margin-bottom: 20px;
    padding-bottom: 12px;
}
.phone{
    display: none;
}
@media (max-width:900px) {
    .nameborder{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .hides{
display: none;

    }
    .phone{
        display: block;
        padding-left: 20px;
    }
    /* .scroll{
        width: 100%;
        height: 700px;
        overflow-y: scroll;
        padding-bottom: 100px;
        scrollbar-width: none;
    } */
    .main{
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding: 5px 0;
        justify-content: center;
        align-items: center;
    }
    .right{
        width: 100%;
        padding: 10px 0 ;
    }
    .rightmain{
        padding: 15px;
    }
    .leftmain{
        margin-bottom: 5px;
    }
    .policy{
        display: none;
    }
    .nameborder{
        border: none;
    }
    .m-addCart{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 20px  #D4D4D8;
        padding: 15px 25px 5px 25px;
        border-top: 1px solid #D4D4D8;
    }
}
