@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
/* navbar section  */
.logo h1{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
/* text-shadow: 0px 1px 1px rgba(3, 7, 18, 0.16),
  0px 2px 2px rgba(3, 7, 18, 0.13),
  0px 4px 4px rgba(3, 7, 18, 0.10),
  0px 8px 8px rgba(3, 7, 18, 0.06),
  0px 16px 16px rgba(3, 7, 18, 0.03); */
}
nav{
    padding: 16px 28px;
    gap: 20px;
}
nav .search{
    width: 700px;
}
nav .logo i{
    display: none;
}

@media (max-width:1080px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 10px;
        gap: 5px;
    }
    nav .address{
        display: none;
    }
    nav .cart{
        display: none;
    }
    nav .search{
        width: 100%;
    }
    nav .logo i{
        display: block;
    }
    nav .logo{
        width: 100%;
        padding: 0 10px ;
    }
    nav .logo{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .account{
        top: 30px;
        right: 0px;
    }
    .account::after{
        content: "";
        width: 20px;
        height: 20px;
        background: white;
        position: absolute;
       top: -4.5%;
       right: 10%;
       border-radius: 3px;
       transform: rotate(45deg);
       border-left: 1px solid #D4D4D8;
       border-top: 1px solid #D4D4D8;
    }
}
.account{
    right: 20px;
    box-shadow: -1px 0px 1px rgba(3, 7, 18, 0.01),
      -3px 2px 5px rgba(3, 7, 18, 0.02),
      -6px 4px 11px rgba(3, 7, 18, 0.03),
      -10px 7px 20px rgba(3, 7, 18, 0.04),
      -16px 11px 31px rgba(3, 7, 18, 0.05);
    }
.account::after{
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
   top: -4.5%;
   left: 50%;
   border-radius: 3px;
   transform: rotate(45deg);
   border-left: 1px solid #D4D4D8;
   border-top: 1px solid #D4D4D8;
}
.logout{
    border-radius: 0 0 16px 16px;
}
