@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::selection {
    background: transparent;
  }
/* navbar section  */
.logo .text{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
nav{
    padding: 16px 28px;
    gap: 20px;
}
nav .search{
    width: 700px;
}
nav .logo i{
    display: none;
}
.Category{
    width: 120px;
}

@media (max-width:1080px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 10px;
        gap: 5px;
    }
    nav .address{
        display: none;
    }
    nav .cart{
        display: none;
    }
    nav .search{
        width: 100%;
    }
    nav .logo i{
        display: block;
    }
    nav .logo{
        width: 100%;
        padding: 0 10px ;
    }
    nav .logo{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
}
    .account{
        top: 45px;
        right: -20px;
    }
    .account::after{
        display: none;
    }
    .sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.08),
        0px 5px 4px rgba(3, 7, 18, 0.06),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.03),
        0px 32px 24px rgba(3, 7, 18, 0.02);
        transition: all 3s ease-in-out;
      }
      #stickylogo{
        display: none;
      }
      .Category{
        width: 100px;
      }
}
.account{
    right: 20px;
    box-shadow: -1px 0px 1px rgba(3, 7, 18, 0.01),
      -3px 2px 5px rgba(3, 7, 18, 0.02),
      -6px 4px 11px rgba(3, 7, 18, 0.03),
      -10px 7px 20px rgba(3, 7, 18, 0.04),
      -16px 11px 31px rgba(3, 7, 18, 0.05);
    }
.account::after{
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
   top: -4.5%;
   left: 50%;
   border-radius: 3px;
   transform: rotate(45deg);
   border-left: 1px solid #D4D4D8;
   border-top: 1px solid #D4D4D8;
}
.logout{
    border-radius: 0 0 16px 16px;
}


/* banner sectiion  */

.banner{
    margin:20px auto;
    border-radius: 16px;
}
.cro{
    scrollbar-width: none;
}


@media (min-width:600px) {
    .fotterText{
        display: none;
    }
}
